body{
	font-family:Arial;
	z-index:-10;
}

.btn-group {
    margin: 0px auto; 
    text-align: center;
    font-size:0 !important;
}

.btn-group .btn {
	float:none;
    display:inline-block;
}

.section{
	height:100%;
	display:none;
}

#pageContainer{
	border:solid black 1px;
	margin-bottom: 10px;
}

.expandButton{
	float:right;
}

th{
	text-align:left;
	cursor:pointer;	
}

.listTable{
	margin: 0px auto;
}

#listOfUsers{
	font-size:14pt;
}


#addEditItemForm{
	position:relative;
	border:1px solid black;
	padding:6px;
	width: 400px;
	margin:0px auto;
	z-index:100;	
}

#displayAlert{
	display:none;
}

#listOfUsers{
	height:100%;
}

#itemDetailImageCarousel div.carousel-inner{
	height:250px;
	width:250px;
	overflow:hidden;
}

#itemDetailImageCarousel a.right{
	float:right;
}

.alert{
	display:none;
}

#uploadframe{
	display:none;
}

.imageBlock{
	float:left;
	width:75px;
}

.imageDeleteBlock img{
	width:100px;
}

#versionNumber{
	position:fixed;
	bottom:0px;
	right:0px;
	margin:5px;
	color:#d8d8d8;
}

.available{
	float:right;
	color:#d8d8d8;
}

.tool{
	margin-right:3px;
	float:right;
	cursor:pointer;
}


.cellInfo{
	float:right;
}

.fullMessage{
	display:none;
}

#itemSourcesEdit{
	width:220px;
}


div.popover#loading{
/* 	display:block; */
	right:0;
	left:0;
	margin-left:auto;
	margin-right:auto;
	margin-top:25%;
	width:60px;
	z-index:2000;
}

div.popover#loading div.popover-inner{
	width:inherit;
}

span#messageIndicator{
	display:none;
}

td.floatRight{
	text-align:right;
}


span#clearShopFor{
	font-size:1.5em;
	margin-left:-25px;
	margin-right:20px;
	cursor:pointer;
}

div.rank.one{
	width:15px;
}
div.rank.two{
	width:30px;	
}
div.rank.three{
	width:45px;
}
div.rank.four{
	width:60px;
}
div.rank.five{
	width:75px;	
}

div.rank{
	background: url("images/star_on.gif") repeat-x;
	height:15px;
}

td.pointer{
	cursor:pointer;
}
