body{
	font-family:Arial;
	z-index:-10;
}

#mainContainer{
	position:relative;
	width:800px;
	margin-left:auto;
	margin-right:auto;
	margin-bottom: 150px;
	z-index:0;
}

#pageContainer{
/*	height:100%; */
}

#tabSet{
	list-style-type:none;
	margin:0 auto;
	width:500px;
}

.zebraRow{
	background-color: #E7E7FF;
}

.tab{
	background-color: lightgreen;
	margin-left:5px;
	padding-right:3px;
	padding-left:3px;	
	padding-top:3px;	
	
	display:inline;
	border: black 1px solid;
}

.tabSelected{
	border-bottom:none;
	background-color:white;
}

.section{
	display:none;
	
}

#pageContainer{
	border:solid black 1px;
	margin-bottom: 10px;
}

.expandButton{
	float:right;
}

th{
	text-align:left;
	cursor:pointer;	
}

.tableBlock{
	height: 600px; 
	overflow-y:scroll;
}

.listTable{
	margin: 0px auto;
}

#listOfUsers{
	font-size:14pt;
}


#addEditItemForm{
	position:relative;
	border:1px solid black;
	padding:6px;
	width: 400px;
	margin:0px auto;
	z-index:100;	
}




